body {
    background-color: white;
}

h1 {
    color: white;
    padding-left: 31%;
    padding-top: 5%;
}

h3 {
    color: darkviolet;
    /* color: rgb(181, 114, 243); */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Anton', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
}

h5 {
    color: darkviolet;
    /* color: rgb(181, 114, 243); */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Anton', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
}

p {
    font-family: 'Roboto', sans-serif;
}

#logo {
    padding-top: 5px;
}

#sponsortag {
    padding-bottom: 10px;
}


/* .card-img {
    height: 50px;
    width: 50px;
} */

#route {
    /* color: #8A2BE2; */
    padding: 15px;
    color: white;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Anton', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
}

strong {
    color: white;
    padding: 31%;
}


.jumbotron {
    background-image: url("images/aurora.jpg");
    /* background-image: url("images/logo.jpg"); */
    margin-bottom: 0;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%
}

#about {
    padding-top: 10%;
}

#sponsorText {
    color: white;
    background-color: black;
}

#footer {
    padding-top: 20px;
    color: white;
}

.card {
    border: none;
}


/* Calendar Sizing */
@media (max-width: 550px) {
    .big-container {
        display: none;
    }
}
@media (min-width: 550px) {
    .small-container {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .snapwidget.mobile {
      display: block;
    }
    
    .snapwidget.desktop {
      display: none;
    }

    .sponsor {
        padding: 15px;
    }
  }
  
  @media screen and (min-width: 721px) {
    .snapwidget.desktop {
      display: block;
    }
    
    .snapwidget.mobile {
      display: none;
    }
  }

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */